@set navigation {
	:root {
		max-width: 250px;
		size: *;
		flow: vertical;
		border-right: 1px solid var(border-color);
		background:transparent;
		color: var(base-text-color);
	}

	header {
		display: block;
		background-color: threadlightshadow;
		width: *;
		height: 3em;
		padding:4dip 4dip;
		vertical-align: middle;
		text-align: center;
	}

	#navigation-bar 
	{
		size:*;
		margin:3dip 0 0 0;
		padding:4dip;
		flow: vertical;
		line-height: 1.5em;
		border-spacing:4dip;
	}

	#navigation-bar > li {
		behavior: radio;
		height: 2em;
		width: *;
		padding: 0.4em 4dip 2dip 3em;
		list-style: none;
		cursor: pointer;

		foreground-repeat: no-repeat;
		foreground-position:0.8em 35%;
		foreground-size:1.5em 1.4em;
		fill: #333;
		stroke: none;
	}

	#navigation-bar > li:checked{
		fill: highlight;
		color: highlight;
	}

	#navigation-bar li#tasks              { foreground-image: url(path:m18 13.07 2-2v12.929h-20v-20.999c0-1.654 1.346-3 3-3h13.93l-2 2h-11.93c-.552 0-1 .449-1 1v19h16zm6-10.07c0 .801-.313 1.555-.879 2.122l-7.879 7.878h-4.242v-4.243l7.879-7.878c1.17-1.17 3.072-1.17 4.242 0 .566.566.879 1.32.879 2.121zm-2 0c0-.267-.104-.518-.293-.707-.391-.391-1.023-.39-1.414 0l-7.293 7.292v1.415h1.414l7.293-7.293c.189-.189.293-.44.293-.707zm-13.456 6.366-2.547 2.547-1.282-1.213-1.375 1.453 1.431 1.353c.348.329.789.493 1.23.493.457.001.913-.175 1.265-.526l2.692-2.693zm-3.829 6.334-1.375 1.453 1.431 1.354c.348.329.789.493 1.229.493.457 0 .914-.177 1.266-.528l2.692-2.692-1.414-1.414-2.548 2.548zm7.364.3-2.042 2h5.963v-2zm-3.535-11.634-2.547 2.547-1.282-1.213-1.375 1.453 1.431 1.353c.348.329.789.493 1.23.493.457.001.913-.175 1.265-.526l2.692-2.693z); }
	#navigation-bar li#inventory          { foreground-size: 1.5em 1.3em; foreground-image: url(path:m4.68,5c1.378,0,2.5-1.121,2.5-2.5S6.058,0,4.68,0s-2.5,1.121-2.5,2.5,1.122,2.5,2.5,2.5Zm0-4c.827,0,1.5.673,1.5,1.5s-.673,1.5-1.5,1.5-1.5-.673-1.5-1.5.673-1.5,1.5-1.5Zm1.32,8h1v15h-1v-7h-3v7h-1v-7H0v-8.5c0-1.379,1.122-2.5,2.5-2.5h12.5v1H2.5c-.827,0-1.5.673-1.5,1.5v7.5h5v-7Zm16,7h-1.5v-5c0-1.103-.897-2-2-2h-4c-1.103,0-2,.897-2,2v5h-1.5c-1.103,0-2,.897-2,2v6h15v-6c0-1.103-.897-2-2-2Zm-8.5-5c0-.552.449-1,1-1h4c.551,0,1,.448,1,1v5h-6v-5Zm2.5,12h-6v-5c0-.552.449-1,1-1h4c.551,0,1,.448,1,1v5Zm7,0h-6v-5c0-.552.449-1,1-1h4c.551,0,1,.448,1,1v5Zm-5.5-11h-2v-1h2v1Zm1.5,6h2v1h-2v-1Zm-7,0h2v1h-2v-1Z); }
	#navigation-bar li#reports            { foreground-image: url(path:m19.5,0h-10c-2.481,0-4.5,2.019-4.5,4.5v2.5h-1c-2.206,0-4,1.794-4,4v10c0,1.654,1.346,3,3,3h16.5c2.481,0,4.5-2.019,4.5-4.5V4.5c0-2.481-2.019-4.5-4.5-4.5ZM5,21c0,1.103-.897,2-2,2s-2-.897-2-2v-10c0-1.654,1.346-3,3-3h1v13Zm18-1.5c0,1.93-1.57,3.5-3.5,3.5H5.234c.476-.531.766-1.232.766-2V4.5c0-1.93,1.57-3.5,3.5-3.5h10c1.93,0,3.5,1.57,3.5,3.5v15Zm-2-12c0,.276-.224.5-.5.5h-5c-.276,0-.5-.224-.5-.5s.224-.5.5-.5h5c.276,0,.5.224.5.5Zm0,4c0,.276-.224.5-.5.5h-12c-.276,0-.5-.224-.5-.5s.224-.5.5-.5h12c.276,0,.5.224.5.5Zm0,4c0,.276-.224.5-.5.5h-12c-.276,0-.5-.224-.5-.5s.224-.5.5-.5h12c.276,0,.5.224.5.5Zm0,4c0,.276-.224.5-.5.5h-12c-.276,0-.5-.224-.5-.5s.224-.5.5-.5h12c.276,0,.5.224.5.5Zm-11.5-11.5h2c.827,0,1.5-.673,1.5-1.5v-2c0-.827-.673-1.5-1.5-1.5h-2c-.827,0-1.5.673-1.5,1.5v2c0,.827.673,1.5,1.5,1.5Zm-.5-3.5c0-.276.224-.5.5-.5h2c.276,0,.5.224.5.5v2c0,.276-.224.5-.5.5h-2c-.276,0-.5-.224-.5-.5v-2Z); }
	#navigation-bar li#estimating         { foreground-image: url(path:m1 24h22v-21a3 3 0 0 0 -3-3h-16a3 3 0 0 0 -3 3zm2-21a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v19h-18zm2 7h14v-6h-14zm2-4h10v2h-10zm-2 7h2v2h-2zm4 0h2v2h-2zm6 0v2h-2v-2zm-10 4h2v2h-2zm4 0h2v2h-2zm8-4h2v2h-2zm-4 4h6v2h-6z); }
	#navigation-bar li#planning           { foreground-size: 1.5em 1.6em; foreground-image: url(path:m22 7c-.929 0-1.705.64-1.929 1.5h-2.071c-.552 0-1-.448-1-1v-3c0-.552.448-1 1-1h2.071c.224.86 1 1.5 1.929 1.5 1.103 0 2-.897 2-2s-.897-2-2-2c-.929 0-1.705.64-1.929 1.5h-2.071c-1.103 0-2 .897-2 2v1h-2.5c-.276 0-.5.224-.5.5s.224.5.5.5h2.5v1c0 1.103.897 2 2 2h2.071c.224.86 1 1.5 1.929 1.5 1.103 0 2-.897 2-2s-.897-2-2-2zm0-5c.552 0 1 .448 1 1s-.448 1-1 1-1-.448-1-1 .448-1 1-1zm0 8c-.552 0-1-.448-1-1s.448-1 1-1 1 .448 1 1-.448 1-1 1zm-16-2c1.103 0 2-.897 2-2s-.897-2-2-2-2 .897-2 2 .897 2 2 2zm0-3c.551 0 1 .448 1 1s-.449 1-1 1-1-.448-1-1 .449-1 1-1zm-5.332 2.903c-.101.389-.044.792.159 1.137.203.346.528.592.917.692.389.104.792.045 1.137-.159l.223-.131c.408.34.881.606 1.396.786v.271c0 .827.673 1.5 1.5 1.5s1.5-.673 1.5-1.5v-.271c.515-.18.988-.446 1.396-.786l.223.131c.346.204.751.264 1.137.159.388-.101.713-.347.916-.691.204-.346.26-.749.16-1.138-.101-.388-.346-.713-.692-.917l-.233-.137c.064-.299.094-.575.094-.85s-.03-.551-.094-.851l.233-.137c.346-.203.591-.528.692-.917.101-.388.044-.791-.159-1.136-.203-.346-.528-.592-.917-.692-.386-.102-.791-.044-1.137.159l-.223.131c-.408-.34-.881-.606-1.396-.786v-.271c0-.827-.673-1.5-1.5-1.5s-1.5.673-1.5 1.5v.271c-.515.18-.988.446-1.396.786l-.223-.131c-.345-.203-.749-.261-1.137-.159-.388.101-.713.347-.916.691-.204.346-.26.749-.16 1.137.101.389.347.714.692.916l.234.138c-.064.3-.094.576-.094.851s.03.551.094.85l-.234.138c-.345.203-.591.528-.691.916zm1.982-.948c-.103-.361-.151-.665-.151-.955s.048-.594.151-.955c.062-.219-.031-.452-.228-.567l-.557-.328c-.234-.131-.318-.455-.177-.684.131-.235.456-.318.684-.178l.541.318c.195.117.447.085.607-.077.43-.432.984-.743 1.603-.903.221-.058.375-.257.375-.484v-.642c0-.275.224-.5.5-.5s.5.225.5.5v.642c0 .228.154.427.375.484.619.16 1.173.472 1.603.903.16.162.412.194.607.077l.541-.318c.229-.142.552-.057.685.179.141.228.056.552-.178.684l-.556.327c-.196.115-.29.349-.228.567.103.361.151.665.151.955s-.048.594-.151.955c-.062.219.031.453.228.568l.556.325c.234.132.319.456.177.686-.132.234-.454.32-.684.178l-.541-.318c-.196-.117-.447-.084-.607.077-.43.432-.984.743-1.603.903-.221.058-.375.257-.375.484v.642c0 .275-.224.5-.5.5s-.5-.225-.5-.5v-.642c0-.228-.154-.427-.375-.484-.619-.16-1.173-.472-1.603-.903-.161-.162-.413-.193-.607-.077l-.541.318c-.229.142-.552.057-.685-.179-.141-.228-.056-.553.177-.684l.556-.326c.197-.115.291-.35.228-.568zm20.53 5.699c1.012.923 1.094 2.505.183 3.526l-6.806 7.64c-.184.206-.5.223-.706.04-.206-.184-.224-.499-.04-.706l6.806-7.64c.548-.614.499-1.565-.11-2.121-.298-.271-.685-.404-1.088-.392-.403.019-.774.193-1.046.492l-4.503 4.948s-.004.003-.006.005c-.305.938-1.117 1.666-2.133 1.811l-6.172.738c-.282.04-.523-.162-.556-.437-.033-.274.163-.523.437-.556l6.161-.737c.793-.113 1.398-.812 1.398-1.624 0-.905-.737-1.643-1.643-1.643h-9.856c-1.378 0-2.5 1.121-2.5 2.5v5c0 .276-.224.5-.5.5s-.5-.224-.5-.5v-5c0-1.93 1.57-3.5 3.5-3.5h9.857c1.209 0 2.221.822 2.533 1.932l3.742-4.112c.451-.496 1.069-.786 1.739-.817.663-.037 1.312.2 1.809.651z ); }
	#navigation-bar li#forecasting        { foreground-image: url(chart-histogram.svg); }
	#navigation-bar li#cashflow           { foreground-image: url(path: ); }
	#navigation-bar li#valuations         { foreground-image: url(path: ); }
	#navigation-bar li#subcontractManager { foreground-image: url(path: ); }
	#navigation-bar li#costAndAllowables  { foreground-image: url(path: ); }
	#navigation-bar li#materials          { foreground-image: url(path: ); }
	#navigation-bar li#drawings           { foreground-image: url(path: ); }
	#navigation-bar li#profile            { foreground-image: url(path: ); margin-top:*; }
	#navigation-bar li#settings           { foreground-image: url(path: ); }
}