
@set properties {
    :root {
        max-width:150px;
        width:*; // expandable;
        height:*;
        vertical-align:middle;
        text-align:center;
        border-left: 1px solid var(border-color);
        background: transparent;
        color:var(base-text-color);
    }

}